/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu09
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu09">
 *      <ul class="menu09">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu09::base */
div#menu09 {
    height: 32px;
    width:100%;
	position:relative;
	margin:0 0 0 0;
	float:left;
	z-index:800;
	background: url(images/right.gif) repeat right 0;
	/* 
	background: url(images/left.png) no-repeat;
	_background: url(images/left.gif) no-repeat;
	padding-left: 6px;
	min-height:200px;
	border:1px solid #ff0000;
	*/
}

div#menu09 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu09 ul.menu09 {
    /* 
	background: url(images/right.gif) no-repeat right 0;
	background: url(images/right.png) no-repeat right 0;
	padding-right: 6px;
	*/
	z-index:900;
}

div#menu09 li {
    position: relative;
    margin: 0;
    padding: 0 0px 0 0;
    display: block;
    float: left;
    z-index: 9;
    width: auto;
}
div#menu09 ul ul li {
    z-index: 9;
}
div#menu09 li div {
    list-style: none;
    float: left;
    position: absolute;
    z-index: 1100;
    top: 22px;
    left: 0;
    visibility: hidden;
    width: 280px;
	margin: 0px 0 0 0px;
    padding: 5px 0 0 0; 
	/* 
	background: url(images/subsubmenu-top.png) no-repeat 0px 0;
	_background: url(images/subsubmenu-top.gif) no-repeat 0px 0;  
	*/
}
div#menu09 ul ul {
	z-index: 12;
    padding: 10px 4px 5px 4px;
    /* background: url(images/submenu-bottom.png) no-repeat 0px bottom;
    background: url(images/submenu-bottom.gif) repeat 0px bottom;
    _background: url(images/submenu-bottom.gif) no-repeat 0px bottom; */
    background: url(images/submenu-bottom.png) repeat 0px bottom;
    margin: 5px 0 0 0;
	width:280px;
}
div#menu09 li:hover>div {
    visibility: visible;
}

div#menu09 a {
    position: relative;
    z-index: 10;
    height: 20px;
    display: block;
    float: left;
    line-height: 20px;
    text-decoration: none;
    margin-top: 1px;
    white-space: nowrap;
    width: auto;
    padding-right:5px;
    text-align:center;
}
div#menu09 span {
    margin-top: 2px;
    padding-left: 15px;
    color: #fff;
    font: normal 0.98em Helvetica,Arial,FreeSans,sans-serif;
    background: none;
    line-height: 30px;	
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
    text-align: center;
}

/* menu09::level1 */
div#menu09 a {
    padding: 0 10px 0 0;
    line-height: 30px;
    height: 32px;
    margin-right: 5px;
    _margin-right: 1px;
    background: none;
    text-transform: uppercase;
}
div#menu09 a:hover {
    background:  url(images/selected-right-sub.png)  no-repeat right -1px;
    height: 32px;
}
div#menu09 a:hover span {
    background: url(images/selected-left-sub.png) no-repeat 0 -3px;
    height: 32px;
}
div#menu09 li.current a,
div#menu09 ul.menu09>li:hover>a {
    background: url(images/selected-right-sub.png)  no-repeat right -1px;
    height: 32px;
}
div#menu09 li.current a span,
div#menu09 ul.menu09>li:hover>a span {
    background: url(images/selected-left-sub.png) no-repeat 0 -3px;
    height: 32px;
}

div#menu09 ul.menu09>li:hover>a span {
	  color: #24c9ff;
	  height: 32px;
}
div#menu09 li {  }
div#menu09 li.last { background: none; }

/* menu09::level2 */
div#menu09 ul ul li {
    background: none;
    padding: 0;
}
div#menu09 ul ul a {
    padding: 0px;
    height: auto;
    float: none;
    display: block;
    line-height: 25px;
    font-size: 13px;
    color: #fff;
    z-index: -1;
    padding-left: 5px;
    white-space: normal;
    width: auto;
    margin: 0 8px;
    text-transform: none;
}
    
div#menu09 ul ul a span {
	padding: 0 5px;
    line-height: 25px;
    font-size: 13px;
	width:200px;
}
div#menu09 li.current ul a,
div#menu09 li.current ul a span {
    background:none;
}
div#menu09 ul ul a:hover {
 background:none;
 background-color: #004054;
    height: 32px;
}
div#menu09 ul ul a:hover span {
	background:none;
	color: #24c9ff;
    height: 32px;
}
div#menu09 ul ul a.parent {
  background: url(images/submenu-pointer.png) no-repeat right center;
  _background-image: url(images/submenu-pointer.gif);
    height: 32px;
}
div#menu09 ul ul a.parent span {
  background:none; 
    height: 32px;
}
div#menu09 ul ul a.parent:hover {
  background: url(images/submenu-pointer.png) no-repeat right center;
  _background: url(images/submenu-pointer-hover.gif) no-repeat right center;
  background-color: #004054;
    height: 32px;
}
div#menu09 ul ul a.parent:hover span {
  background:none;
    height: 32px;
}
div#menu09 ul ul span {
    margin-top: 0;
    text-align: left;
    height: 32px;
}
div#menu09 ul ul li.last { background: none; }
div#menu09 ul ul li {
    width: 100%;
    height: 32px;
}

/* menu09::level3 */
div#menu09 ul ul div {
    width: 180px;
    padding: 0;
    margin: -32px 0 0 280px !important;
}
div#menu09 ul ul ul {
    padding: 5px 4px 10px 4px;
	margin: 0 0 0 0;
}
div#menu09 ul ul div li {
    position:relative;
    top:5px;
}

/* lava lamp */
div#menu09 li.back {
    background: url(images/selected-left-sub.png) no-repeat 0 0;
    height: 32px;
    width: 5px;
    z-index: 8;
    position: absolute;
    padding: 0;
    margin: 0px 0 0 0;
}

div#menu09 li.back .left {
    padding:0;
    width:auto;
    background: url(images/selected-right-sub.png) no-repeat right 0;
    height: 32px;
    margin: 0 0 0 5px;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
}
